<!DOCTYPE html>
<html lang=”pt-br”>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>M A T E M Á G I C A</title>
    </head>

    <body>
        {{{body}}} 
    </body>

</html>
