html, body{
    margin: 0%;
    height: 100%;
    width: 100%;
    background-color: rgb(129, 129, 129);
    display: flex;
}

.esquerda, .direita{
    background-color: orange;
    width: 10%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    font-size: 0%;
    text-align: center;
    border-top: none;
    border-bottom: none;
    border-left: solid clamp(0.2vw, 0.5vh, 0.7vw);
    border-right: solid clamp(0.2vw, 0.5vh, 0.7vw);
}
.centro{
    position: relative;
    width: 80%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    text-align: center;
    font-size: 0%;
}
.centro img{
    cursor: pointer;
    max-width: 100%;
    max-height: 12%;
    width: 70%;
    height: 12%;
}
ul{
    padding: 0%;
    height: 100%;
}
li{
    list-style-type: none;
    height: 25%;
}
li img{
    margin: 0%;
    padding: 30% 0% 0% 0%;
    height: 40%;
    width: 80%;
    max-width: 100%;
    max-height: 100%;
    pointer-events: none;
}
.listas-numeros{
    height: 50%;
    display: none;
}
.lista1, .lista2, .lista3{
    float: left;
    width: 20%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 10%;
    margin-left: 1%;
}
.lista1 p, .lista2 p, .lista3 p{
    margin: 0%;
    color: white;
    font-size: clamp(3vw, 4vh, 5vw);
}
.numeros1, .numeros2, .numeros3{
    border: solid white clamp(0.2vw, 0.5vh, 0.7vw);
    box-sizing: border-box;
    float: right;
    width: 77%;
    height: 20%;
    position: relative;
    top: 10%;
    margin-right: 1%;
}
.lista2, .numeros2{
    top: 20%;
}
.lista3, .numeros3{
    top: 30%;
}

.qualLista{
    color: white;
    font-weight: bold;
    border: 0%;
    font-size: clamp(2vw, 3vh, 4vw);
    height: 5%;
    display: none;
}
.qualLista p{
    margin: 0%;
}
.escolheLista{
    height: 10%;
    display: none;
}
.confirmar{
    display: none;
    text-align: center;
    height: 23%;
}
input{
    display: none;
}
button{
    border-width: clamp(0.2vw, 0.5vh, 0.7vw);
    cursor: pointer;
    position: relative;
    left: 5%;
    border-color: red;
    box-sizing: border-box;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    height: clamp(2vw, 3vh, 4vw);
    width: clamp(2vw, 3vh, 4vw);
}
.ulLista{
    align-items: center;
    justify-content: center;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    color: white;
    font-size: clamp(2vw, 3vh, 4vw);
}
.ulLista label{
    cursor: pointer;
    display: inline-block;
}
.ulLista li{
    cursor: pointer;
    display: inline-block;
}
.confirmarBT{
    margin-top: 2%;
    border-color: rgb(255, 255, 255);
    border-radius: 0%;
    height: 10vmin;
    width: 30vmin;
    background-color: #08fd45;
    margin-right: 10%;
    color: white;
    font-weight: bold;
    font-size: clamp(1.5vw, 2.5vh, 3.5vw);
}
.confirmarBT p{
    margin: 0%;
}
.listaDeNumeros1, .listaDeNumeros2, .listaDeNumeros3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0%;
    padding: 0%;
    color: white;
    font-weight: bold;
    font-size: clamp(1.5vw, 2.5vh, 3.5vw);
}
.listaDeNumeros1 li, .listaDeNumeros2 li, .listaDeNumeros3 li{
    display: inline-block;
}

.comecar{
    color: white;
    font-weight: bold;
    font-size: clamp(1.5vw, 2.5vh, 3.5vw);
    top: 27%;
    background-color: orange;
    height: 30%;
    width: 68%;
    margin-left: 16%;
    position: relative;
}
.comecar div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}
.comecar div p:nth-child(1){
    margin: 0%;
}
.comecar div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}
.btComecar{
    font-size: clamp(1.5vw, 2.5vh, 3.5vw);
    color: white;
    font-weight: bold;
    left: 0%;
    border-color: white;
    background-color: #08fd45;
    border-radius: 0%;
    height: 10vmin;
    width: 40%;
}

.cinza{
    display: none;
    top: -88%;
    position: relative;
    background-color: rgba(160, 182, 173, 0.658);
    height: 88%;
}
.result{
    display: none;
    position: relative;
    top: 27%;
    background-color: orange;
    height: 50%;
    width: 68%;
    margin-left: 16%;
}
.result div:nth-child(1){
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.result div p:nth-child(1){
    font-weight: bold;
    margin: 0%;
    color: white;
    font-size: clamp(2vw, 3vh, 3vw);
}
.result div:nth-child(2) p{
    font-size: clamp(7vw, 10vh, 11vw);
}
.result div:nth-child(2){
    color: white;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.result div:nth-child(3){
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.jogarNovamente{
    font-size: clamp(2vw, 3vh, 3vw);
    border-color: white;
    left: 0%;
    border-radius: 0%;
    background-color: #08fd45;
    color: white;
    font-weight: bold;
    height: 10vmin;
    width: 40%;
}
